# {{ ansible_managed }}

LANG={{ os_baseline_locales_config.lang }}
LANGUAGE={{ os_baseline_locales_config.language }}
LC_ADDRESS={{ os_baseline_locales_config.lc_address }}
LC_COLLATE={{ os_baseline_locales_config.lc_collate }}
LC_CTYPE={{ os_baseline_locales_config.lc_ctype }}
LC_IDENTIFICATION={{ os_baseline_locales_config.lc_identification }}
LC_MEASUREMENT={{ os_baseline_locales_config.lc_measurement }}
LC_MESSAGES={{ os_baseline_locales_config.lc_messages }}
LC_MONETARY={{ os_baseline_locales_config.lc_monetary }}
LC_NAME={{ os_baseline_locales_config.lc_name }}
LC_NUMERIC={{ os_baseline_locales_config.lc_numeric }}
LC_PAPER={{ os_baseline_locales_config.lc_paper }}
LC_TELEPHONE={{ os_baseline_locales_config.lc_telephone }}
LC_TIME={{ os_baseline_locales_config.lc_time }}
